.about {
	color: white;
	position: relative;
	text-align: center;
	padding-top: 20rem;
}

.about-content {
	display: flex;
	align-items: center;
	gap: 5rem;
	text-align: left;
}

.about-content + .about-content {
	margin-top: 4rem;
}

.about-text {
	.img-container {
		position: relative;
		height: 16rem;
		width: 16rem;
		margin: 0 auto;
		border-radius: 100%;
		overflow: hidden;
	}

	img {
		object-fit: cover;
		object-position: 50% 80%;
	}
}

.about h2 {
	margin-bottom: 2rem;
}

.about p {
	color: #94a3b8;
	line-height: 1.7;
	margin-bottom: 2rem;
}

/* Mobile About */
@media (max-width: 768px) {
	.about {
		padding-top: 6rem;
	}

	.about-content {
		flex-direction: column;

		h2 {
			text-align: center;
		}

		p {
			text-align: center;
			padding: 0 1rem;
		}
	}
}
